@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-section {
    height: 40rem;
}

#missing-section {
    height: 100vh;
}

.section {
    height: 72.5rem;
}

#overview-section {
    height: 128rem;
}

.inner-section {
    width: 100% !important;
    max-width: 96rem !important;
}

.middle-gradient {
    background: linear-gradient(180deg, #020024 0%, #1B0B92 53.65%, #020024 100%);
}

.bottom-gradient {
    background: linear-gradient(180deg, #1B0B92 0%, #020024 98.76%);
    mix-blend-mode: normal;
}

.center-block {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    right: 50px;
}

.box-shadow {
    filter: drop-shadow(10px 10px 0px #000000);
}

@media only screen and (min-width: 768px) {
    .section {
        height: 72.5rem;
    }

    #hero-section {
        height: 64rem;
    }
}

@media only screen and (min-width: 1280px) {
    .section {
        height: 45rem;
    }

    #hero-section {
        height: 45rem;
    }

    #overview-section {
        height: 65rem;
    }
}

@media only screen and (min-width: 1536px) {
    .section {
        height: 54rem;
    }

    #hero-section {
        height: 54rem;
    }
}

* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}
